<!DOCTYPE html>
<html>
    <head>
        <%- include("partials/bootstrap/css.ejs") %>

        <title>Admin</title>
    </head>

    <body>
        <%- include("partials/nav.ejs") %>

        <form class="no-refresh" id="image-upload-form" novalidate>
            <div class="col-md-3">
                <label for="image-name" class="form-label">Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="image-name"
                    placeholder="Image name"
                    required
                />

                <div class="invalid-feedback">
                    Please enter a name for the image
                </div>
            </div>

            <div class="col-md-3">
                <label for="image" class="form-label">Image</label>
                <input
                    type="file"
                    class="form-control"
                    id="image"
                    accept="image/*"
                    required
                />

                <div class="invalid-feedback">
                    Please select an image to be uploaded
                </div>
            </div>

            <div class="col-12">
                <button class="btn btn-primary" type="submit" id="btn-upload">
                    Upload
                </button>
            </div>

            <span class="d-inline-block" id="response"></span>
        </form>

        <div
            class="modal fade"
            id="modal-test"
            tabindex="-1"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="img-modal-title"></h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-5">
                            <input type="checkbox" id="visibility" />Visible
                        </div>
                        <form class="no-refresh">
                            <div class="col-md-5">
                                <input type="text" id="img-new-name" />
                                <button
                                    type="submit"
                                    class="btn btn-outline-primary"
                                    onclick="updateImage()"
                                >
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>

        <% imgs.forEach(image=> { %>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 mt-3">
            <img
                src="image/<%= image.name %>"
                class="w-75 mb-4 clickable-image"
                data-bs-toggle="modal"
                data-bs-target="#modal-test"
            />
        </div>
        <% }) %>
        <script>
            window.addEventListener("load", () => {
                const imgss = <%- JSON.stringify(imgs) %>;

                const MODAL_TITLE_ID =
                    document.getElementById("img-modal-title");
                const MODAL_NAME_INPUT =
                    document.getElementById("img-new-name");

                class UploadedImage {
                    constructor(src, name = "") {
                        this.src = src;
                        this.name = name || src;
                        console.log(this.src)
                        this.name = this.name.replace("image/", "");

                        const img = imgss.find(i=>i.name.includes(this.name));

                        this.getElement().addEventListener("click", () => {
                            MODAL_TITLE_ID.innerHTML = img.name;
                            MODAL_NAME_INPUT.value = img.name;
                            document.getElementById("visibility").checked= img.visible
                        });
                    }

                    getElement() {
                        return document.querySelector(`[src="${this.src}"]`);
                    }
                }

                const els = document.getElementsByClassName("clickable-image");
                for (const e of els) {
                    new UploadedImage(
                        e.src.replace(window.location.host, "")
                    );
                }
            });
        </script>

        <script>
            function updateImage() {
                fetch(
                    `/image/${
                        document.getElementById("img-modal-title").innerHTML
                    }`,
                    {
                        method: "PATCH",
                        body: JSON.stringify({
                            newname:
                                document.getElementById("img-new-name").value,
                            visible:
                                document.getElementById("visibility").checked,
                        }),
                        headers: {
                            "Content-Type": "application/json",
                            Accept: "application/json",
                        },
                    }
                )
                    .then((res) => res.json())
                    .then((data) => {
                        window.location.reload();
                    });
            }
        </script>

        <%-include("partials/scripts/private.ejs") %>
        <%-include("partials/scripts/public.ejs") %>
        <%-include("partials/bootstrap/bundle.ejs") %>
    </body>
</html>
